a:hover,
a:focus {
    color: #880EE1;
}

#navigation {
	border-top: 5px solid #880EE1;
}

a,.tp-caption a.btn:hover {
	color: #880EE1;
}
.top-nav-collapse {
	background: #880EE1;
}

.carousel-indicators .active {
    background-color: #880EE1;
}

.header-text h2 span {
    background-color: #880EE1;
}


.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #880EE1;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #880EE1;
}

.widget-avatar .avatar:hover {
    border: 5px solid #880EE1;
}

.bg-skin {
	background: #880EE1;
}

.highlight-color {
	background-color: #880EE1;
}
